<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Developers working with Cloud Native applications and distributed systems will be able to put their knowledge to work with this practical guide to OpenTeleemtry. The book provides a hands-on approach to implementation and associated methodologies that will have you up-and-running, and productive in no time.
            </p>
        </div>
    </section>
</div>
