<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                OpenTelemetry provides the tools necessary for you to gain visibility into the performance of your services via an open standard. It allows you to instrument your application code through vendor-neutral APIs, libraries and tools.<br/><br/>

                With this book, you'll learn about the concepts and signals of OpenTelemetry - traces, metrics and logs. You'll use these signals by configuring telemetry pipelines and instrumenting a distributed cloud-native application. The book shows you how to deploy the collector and backends necessary to help you use the telemetry emitted to identify issues in your application's performance.<br/><br/>

                By the end of this book, you'll be well-versed with the core concepts of OpenTelemetry and be able to instrument services using OpenTelemetry to produce distributed traces, metrics and logs. As well you'll learn to analyze telemetry to gain insights into the health of your cloud-native applications.
            </p>
        </div>
    </section>
</div>
