
<section class="head" id="nav">
    <div class="head-inner-wrap">
        <div title="Cloud Native Observability with OpenTelemetry" class="cover"></div>
        <div class="head-menu-wrap">
            <a class="semi-transparent-button with-border nav-links" href="#about">ABOUT</a>
            <a class="semi-transparent-button with-border nav-links" href="https://www.packtpub.com/product/cloud-native-observability-with-opentelemetry/9781801077705">PRE-ORDER</a>
        </div>
    </div>
</section>
